$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);
@mixin media($minmax, $media) {
    @each $size,
    $resolution in $sizes {
        @if $media==$size {
            @media only screen and (#{$minmax}-width: $resolution) {
                @content;
            }
        }
    }
}

@mixin title {
    color: darken($color_light, 10);
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid $border_color;
    font-weight: bold;
    background-color: #000;
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
}