@import "null.scss";
@import "var.scss";
@import "mixins.scss";
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,500;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
* {
    // font-family: Montserrat;
    // font-family: Pacifico;
    // font-family: Caveat;
    // font-family: Noto Serif;
    font-family: Cormorant Garamond;
    // font-family: Arial;
}

textarea::-webkit-scrollbar {
    width: 5px;
    background-color: lighten($color_grey, 30);
}

textarea::-webkit-scrollbar-thumb {
    background-color: lighten($color_grey, 5);
    height: 10px;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: lighten($color_grey, 30);
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: lighten($color_grey, 5);
    height: 10px;
    &:hover {
        background-color: lighten($color_dark, 20);
    }
    &:active {
        background-color: lighten($color_dark, 10);
    }
}

body {
    min-height: 100%;
    background-color: #000;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100vw;
}

html {
    min-height: 100%;
}

.animate__animated {
    &.for__notifications {
        animation-duration: .2s;
    }
    &.for__page {
        animation-duration: .1s;
    }
    &.for__model {
        animation-duration: .1s!important;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 80%;
    }
}

span {
    &.badge {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-style: italic;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        &-danger {
            background-color: $color_danger;
            color: $color_light;
            border: 1px solid $header_bg_color;
        }
    }
}

header {
    position: fixed;
    width: 100%;
    height: $header_height;
    background-color: $header_bg_color;
    padding-bottom: 10px;
    border-bottom: 1px solid $border_color;
    z-index: 999;
    .header {
        display: flex;
        align-items: center;
        position: relative;
        &__menu {
            color: lighten($header_bg_color, 20);
            font-size: 1.5rem;
            i {
                &:hover {
                    cursor: pointer;
                }
                padding: 15px;
            }
        }
        &__favorites {
            i {
                padding: 15px;
                color: lighten($header_bg_color, 20);
                font-size: 1.5rem;
                position: relative;
                transition: all .1s ease-in-out;
                &:hover {
                    cursor: pointer;
                }
                &:active {
                    transform: scale(.9);
                }
                .badge {
                    top: 5px;
                    right: 5px;
                    font-family: Poppins;
                }
            }
        }
        $dropped_list_height: 100vh;
        &__logo {
            .image-container {
                height: $header_height;
                img {
                    transform: scale(3.5);
                    padding-top: 10px;
                }
            }
        }
    }
}

$sidebar_width: 60px;
section.sidebar {
    margin-top: $header_height;
    position: fixed;
    height: 100vh;
    width: $sidebar_width;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    border-right: 1px solid $border_color;
    z-index: 1;
    background-color: $general_bg_color;
    ul {
        max-height: 300px;
        li {
            max-width: $sidebar_width;
            overflow: hidden;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 10px;
            transition: all .1s ease-in-out;
            user-select: none;
            &:hover {
                cursor: pointer;
            }
            &.active {
                .categories__image {
                    border-color: $color_myata;
                }
            }
            &:active {
                transform: scale(.9);
            }
            .categories__image {
                display: flex;
                justify-content: center;
                width: 47px;
                height: 47px;
                border-radius: 50%;
                margin-top: 5px;
                border: 2px solid lighten($border_color, 5);
                padding: 2px;
                margin-bottom: 5px;
                .image-container {
                    img {
                        transform: scale(1.8);
                    }
                }
            }
            .categories__title {
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    // font-size: 10px;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: darken($color_light, 10);
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }
    }
    .sub-category-list {
        max-width: $sidebar_width;
        width: $sidebar_width;
        display: flex;
        justify-content: center;
        position: relative;
        .current-sub-category {
            margin-bottom: 50px;
            p {
                position: relative;
                transform: rotate(-90deg);
                font-style: italic;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                // color: $color_myata;
                color: $color_light;
                letter-spacing: 2px;
                i {
                    top: 0;
                    right: -25px;
                    position: absolute;
                    font-size: 18px;
                }
            }
        }
        &-container {
            background-color: #000;
            overflow-x: hidden;
            overflow-y: auto;
            position: fixed;
            top: $header_height;
            bottom: 0;
            left: $sidebar_width;
            right: 0;
            animation-duration: .2s;
        }
        &-items {
            .products__category {
                // width: 95%;
                margin: 0 auto;
                &.active {
                    .products__category__title {
                        color: $color_myata;
                    }
                }
                &__title {
                    color: $color_light;
                    padding: 0;
                    font-size: 14px;
                    font-style: normal;
                    // background-color: lighten($color: #000000, $amount: 10);
                    // border-radius: 3px;
                }
            }
            .products__sub_category {
                &.active {
                    .products__sub_category__title {
                        background-color: $color_myata;
                        color: #000;
                        font-weight: bold;
                    }
                }
                &__title {
                    font-weight: normal;
                    margin-bottom: 5px;
                    &:last-child {
                        margin: 0;
                    }
                    padding: 8px 0;
                    border-bottom: 1px solid $border_color;
                    background-color: $general_bg_color;
                }
            }
        }
    }
}

$content_padding: 15px;
section.content {
    padding-top: $header_height;
    padding-left: $sidebar_width;
    background-color: #000;
}

.sidebar-layout {
    .sidebar {
        margin-top: 0;
    }
    .content {
        padding-top: 0;
    }
}

p.title {
    @include title();
}

.products {
    color: $color_light;
    &__category {
        &__title {
            @include title();
            color: $color_danger;
            position: relative;
        }
        i {
            position: absolute;
            bottom: -5px;
            right: 6px;
            color: lighten($header_bg_color, 20);
            font-size: 22px;
            transition: all .05s ease-in-out;
            padding: 10px;
            cursor: pointer;
            &.selected {
                color: $color_danger;
            }
            &.for-delete {
                color: $color_danger;
                font-size: 18px;
            }
            &.for-edit {
                color: $color_myata;
                font-size: 18px;
                left: 0;
                right: unset;
            }
        }
    }
    &__sub_category {
        &__title {
            @include title();
            position: relative;
            border-bottom: none;
        }
        i {
            position: absolute;
            bottom: -5px;
            right: 6px;
            color: lighten($header_bg_color, 20);
            font-size: 22px;
            transition: all .05s ease-in-out;
            padding: 10px;
            cursor: pointer;
            &.selected {
                color: $color_danger;
            }
            &.for-delete {
                color: $color_danger;
                font-size: 18px;
            }
            &.for-edit {
                color: $color_myata;
                font-size: 18px;
                left: 0;
                right: unset;
            }
        }
    }
    &__item {
        border-top: 1px solid $border_color;
        border-bottom: 1px solid $border_color;
        padding: $content_padding;
        position: relative;
        margin-bottom: 6px;
        background-color: $general_bg_color;
        &:last-child {
            margin-bottom: 0;
        }
        i {
            position: absolute;
            color: lighten($header_bg_color, 20);
            font-size: 22px;
            transition: all .05s ease-in-out;
            padding: 10px;
            cursor: pointer;
            &.selected {
                color: $color_danger;
            }
            &.for-delete {
                color: $color_danger;
                font-size: 18px;
                left: 0;
                bottom: 0;
                right: unset;
                top: unset;
            }
            &.for-edit {
                color: $color_myata;
                font-size: 18px;
                left: 0;
                top: 0;
                right: unset;
                bottom: unset;
            }
        }
    }
    &__image {
        height: 70px;
        width: 70px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .image-container {
            img {
                border-radius: 3px;
            }
        }
        &.default-image {
            .image-container {
                img {
                    transform: scale(1.6);
                }
            }
        }
    }
    &__params {
        padding: 5px;
    }
    &__title {
        color: $color_light;
        font-size: 18px;
        font-weight: bold;
    }
    &__description {
        // min-height: 58px;
        max-height: 58px;
        overflow: hidden;
        position: relative;
        &.text-hidden {
            &::after {
                content: '';
                position: absolute;
                width: 70%;
                height: 15px;
                background: linear-gradient(to right, rgba($general_bg_color, 0), rgba($general_bg_color, .5), $general_bg_color, $general_bg_color);
                bottom: 0px;
                right: 0px;
                color: red;
            }
        }
        &.openned {
            max-height: unset;
            &::after {
                display: none;
            }
        }
        p {
            font-size: 16px;
            font-weight: 300;
            line-height: .9rem;
            color: #ccc;
        }
    }
    &__price_and_voluem {
        text-align: right;
        .price {
            display: inline-block;
            margin-left: auto;
            margin-left: 10px;
        }
    }
    &__ingredients {
        margin-bottom: 10px;
        line-height: 12px;
        p {
            display: inline-block;
            font-size: 15px;
            margin: 0;
            padding: 0 12px 0 0;
            letter-spacing: 2px;
            font-style: italic;
            // color: rgb(134, 255, 219);
            color: $color_success_alt;
            position: relative;
            &::after {
                content: '|';
                position: absolute;
                right: 2px;
                // color: rgb(0, 253, 177);
                color: $color_success_alt;
            }
            &:last-child {
                &::after {
                    content: '';
                }
            }
        }
    }
    .price {
        p {
            font-size: 14px;
            display: inline-block;
            font-style: italic;
            font-family: Poppins;
            small {
                font-size: 16px;
            }
        }
        &__with_old_price {
            p {
                &.old_price {
                    text-decoration: line-through;
                    color: $color_grey;
                    font-weight: normal;
                }
                &.new_price {
                    margin-left: 10px;
                    color: $color_success;
                    padding: 0 5px;
                }
            }
        }
    }
}

// ******** ONLY HEADER LAYOUT *********
.header-layout {
    .content {
        padding-left: 0;
    }
}

// ******** FAVORITES ************
.favorites {
    overflow-y: auto;
    .title {
        @include title();
        position: sticky;
    }
}

// ************** BTN ***********
.btn {
    padding: 5px 10px 5px 10px;
    border: none;
    font-weight: bold;
    text-align: center;
    &-large {
        width: 100%;
    }
    &-myata {
        background-color: $color_myata;
        border: 1px solid darken($color_myata, 20);
        color: $color_dark;
        &-inline {
            background-color: $color_dark;
            border: 1px solid darken($color_myata, 20);
            color: $color_myata;
        }
    }
    &-danger {
        background-color: $color_danger;
        border: 1px solid darken($color_danger, 20);
        color: $color_light;
        &-inline {
            background-color: $color_dark;
            border: 1px solid darken($color_danger, 20);
            color: $color_danger;
        }
    }
    &-warning {
        background-color: $color_warning;
        border: 1px solid darken($color_warning, 20);
        color: $color_light;
        &-inline {
            background-color: $color_dark;
            border: 1px solid $color_warning;
            color: $color_warning;
        }
    }
}

// ************** LOGIN ************
.login {
    input {
        height: 50px;
        max-height: unset!important;
        font-size: 22px!important;
        padding: 0 10px 0 10px!important;
    }
}

// *************** FORM **************
.form {
    &-container {
        width: 650px;
    }
    &.autosize {
        .form-container {
            width: auto;
        }
    }
    &.center {
        .form-container {
            margin: 0 auto;
        }
    }
    &-item {
        .invalid {
            border: 1px solid $color_danger!important;
            outline: unset !important;
            color: $color_danger!important;
            &:focus {
                outline: 1px solid $color_danger!important;
            }
        }
        // .valid {
        //     border: 1px solid $color_success!important;
        //     outline: unset !important;
        //     &:focus {
        //         outline: 1px solid $color_success!important;
        //     }
        // }
        &.tags {
            margin-bottom: 250px;
            .multiselect {
                border: none!important;
                justify-content: center;
                padding-left: 0!important;
            }
        }
        .searchable {
            display: block;
            width: 100%;
            position: relative;
            background-color: black;
            z-index: 1;
            &-container {
                position: absolute;
                left: 0;
                right: 0;
                background-color: $color_light;
                max-height: 200px;
                overflow-x: hidden;
                overflow-y: auto;
                border: 1px solid $color_grey;
                border-top: none;
            }
            ul {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                li {
                    color: $color_dark;
                    padding: 10px 10px;
                    font-weight: 500;
                    width: 100%;
                    list-style: none;
                    cursor: pointer;
                    &:hover {
                        background-color: darken($color_light, 5);
                    }
                }
            }
        }
        .error-container {
            padding: 0;
            padding-top: 2px;
            text-align: center;
            p {
                font-size: 11px;
                font-weight: normal;
                text-transform: uppercase;
                color: $color_danger;
            }
        }
        // padding-left: 0.25rem!important;
        // padding-right: 0.25rem!important;
        &-label {
            display: inline!important;
            font-size: 15px;
            width: 100%;
            font-weight: 600;
            letter-spacing: .4px;
            padding-bottom: 10px;
            color: rgb(219, 219, 219);
            // color: derken($color_light, 50);
            text-transform: capitalize;
            position: relative;
            &.required {
                &::before {
                    content: '*';
                    position: absolute;
                    right: -10px;
                    color: $color_danger;
                    font-size: 16px;
                }
            }
        }
        input,
        select,
        textarea,
        .multiselect {
            width: 100%;
            letter-spacing: .35px;
            resize: none;
            font-size: 18px;
            font-weight: 500;
            padding: 2px 5px;
            // color: darken($color_secondary, 15);
            // color: $color_light;
            color: $color_myata;
            border: 1px solid $color_grey;
            background-color: $color_dark;
            border-radius: unset;
            max-width: 100%;
            &:not(textarea) {
                min-height: 34px;
                max-height: 34px;
            }
            &:not([type=checkbox]) {
                &:not([type=radio]) {
                    &:focus {
                        border-radius: unset;
                        outline: 1px solid $color_myata;
                        border: 1px solid $color_myata;
                    }
                    &:disabled {
                        background-color: rgba($color: $color_grey, $alpha: .2);
                    }
                }
            }
        }
        input,
        textarea {
            display: block;
        }
        &.checkbox {
            &.inline {
                label {
                    font-size: 12px;
                    font-weight: normal;
                    color: $color_grey;
                    div {
                        display: flex;
                        align-items: start;
                    }
                }
            }
        }
        &.checkbox,
        &.radio {
            &-stars {
                label {
                    i {
                        font-size: 24px;
                        &:hover {
                            transform: scale(1.2);
                        }
                        transition: all .1s ease-in-out;
                    }
                }
            }
            &.small {
                label {
                    // text-transform: lowercase;
                    font-size: 11px!important;
                    input[type=radio] {
                        // display: inline-block;
                        min-height: 18px;
                    }
                }
            }
            &.large {
                input[type=radio],
                input[type=checkbox] {
                    display: inline;
                    width: 33px;
                }
            }
            label {
                display: inline-flex;
                align-self: center;
                align-items: center;
                &:not(.form-item-label) {
                    cursor: pointer;
                    font-weight: normal;
                    text-transform: uppercase;
                    font-size: 13px;
                    margin-right: 4px;
                }
            }
            input[type=radio],
            input[type=checkbox] {
                display: inline;
                width: 18px;
                margin: 0;
                margin-right: 4px;
            }
            &.text {
                input {
                    display: none;
                }
                label.clicked-label {
                    text-transform: none;
                    border: 1px solid $color_primary;
                    color: $color_primary;
                    padding: 3px;
                    &.checked {
                        background-color: $color_primary;
                        color: $color_light;
                    }
                }
            }
            &.icons {
                .extra-label {
                    padding: 5px;
                    margin-bottom: 2px;
                    color: $color_dark;
                    outline: 1px dashed $color_dark;
                    text-transform: uppercase;
                    border-radius: 2px;
                    cursor: pointer;
                    p {
                        font-size: 12px;
                        text-align: center;
                    }
                    &.active {
                        background-color: $color_success_alt;
                        color: white;
                        outline: none;
                    }
                }
                .item-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    max-width: 100%;
                    label {
                        margin: 2px;
                        padding: 5px;
                        display: flex;
                        flex-wrap: wrap;
                        width: 30px;
                        height: 30px;
                        justify-content: center;
                        align-items: center;
                        i {
                            // max-width: 20px;
                            // min-width: 20px;
                            font-size: 18px;
                            display: block;
                            margin: 0 auto;
                        }
                        &.active {
                            background-color: $color_success;
                            color: $color_light;
                        }
                    }
                }
                input {
                    display: none;
                }
            }
        }
        &.propogation-input {
            .item-container {
                position: relative;
                &:hover {
                    i {
                        opacity: 1;
                    }
                }
            }
            input {
                padding-left: 15px;
                padding-right: 15px;
            }
            i {
                opacity: 0;
                position: absolute;
                cursor: pointer;
                top: 25%;
                transition: all .1s ease-in-out;
            }
            i.add {
                right: 2px;
                color: $color_primary;
            }
            i.delete {
                left: 2px;
                color: $color_danger;
            }
            &.phones {
                .item-container {
                    input {
                        display: inline-block;
                    }
                    .main-input {
                        width: 70%;
                    }
                    .additional-input {
                        margin-left: 4px;
                        width: 28%;
                    }
                }
            }
        }
    }
}

// *************** LOADER **************
$loader_animation_speed: .5s;
.loader {
    color: $color_myata;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 $loader_animation_speed infinite ease, round $loader_animation_speed infinite ease;
    &-container {
        position: fixed;
        background-color: rgba($color: #000, $alpha: .5);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// *********** ADMIN-FORM ************
.admin-form {
    height: 100vh;
    position: relative;
    .category-form {
        height: 100%;
    }
}

// ************ TAGS ************
.tags {
    position: relative;
    &-list {
        margin-top: 5px;
        .tag {
            display: inline-block;
            color: $color_myata;
            border: 1px solid $color_myata;
            padding: 5px;
            padding-right: 0;
            margin-right: 5px;
            margin-top: 5px;
            i {
                padding: 2px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .searchable {
        &-container {
            max-height: 200px;
            // height: 177px;
            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: end;
                li {
                    &.active {
                        background-color: $color_myata;
                        color: $color_dark;
                        font-weight: bold;
                    }
                }
            }
        }
        position: absolute;
        top: -177px;
        max-height: 200px;
        height: 177px;
        background: transparent;
        display: flex;
        align-items: end;
        // overflow-x: hidden;
        // overflow-y: auto;
    }
}