@import "null.scss";
@import "var.scss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,500;1,700;1,900&display=swap');
* {
    font-family: Montserrat;
}

textarea::-webkit-scrollbar {
    width: 5px;
    background-color: lighten($color_grey, 30);
    // height: 100%;
}

textarea::-webkit-scrollbar-thumb {
    background-color: lighten($color_grey, 5);
    height: 10px;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: lighten($color_grey, 30);
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: lighten($color_grey, 5);
    height: 10px;
    &:hover {
        background-color: lighten($color_dark, 20);
    }
    &:active {
        background-color: lighten($color_dark, 10);
    }
}

body {
    background-color: $general_bg_color;
}

.animate__animated {
    &.for__notifications {
        animation-duration: .2s;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 80%;
    }
}

span {
    &.badge {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-style: italic;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        &-danger {
            background-color: $color_danger;
            color: $color_light;
            border: 1px solid $header_bg_color;
        }
    }
}

header {
    position: fixed;
    width: 100%;
    height: $header_height;
    background-color: $header_bg_color;
    padding-bottom: 10px;
    border-bottom: 1px solid $border_color;
    z-index: 999;
    .header {
        display: flex;
        align-items: center;
        position: relative;
        &__menu {
            color: lighten($header_bg_color, 20);
            font-size: 1.5rem;
            padding-left: 15px!important;
        }
        &__favorites {
            padding-right: 15px!important;
            i {
                color: lighten($header_bg_color, 20);
                font-size: 1.5rem;
                position: relative;
                transition: all .1s ease-in-out;
                &:hover {
                    cursor: pointer;
                    color: lighten($header_bg_color, 40);
                }
                &:active {
                    transform: scale(.9);
                }
                .badge {
                    top: -10px;
                    right: -10px;
                }
            }
        }
        &__droped-favorites-list {
            position: absolute;
            min-height: 100vh;
            width: 100%;
            background-color: white;
            z-index: 99;
            top: $header_height;
        }
        &__logo {
            .image-container {
                // background-color: red;
                height: $header_height;
            }
        }
    }
}

$sidebar_width: 60px;
section.sidebar {
    margin-top: $header_height;
    position: fixed;
    height: 100vh;
    width: $sidebar_width;
    display: flex;
    justify-content: center;
    border-right: 1px solid $border_color;
    z-index: 1;
    // background-color: blue;
    ul {
        li {
            // background-color: red;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 10px;
            transition: all .1s ease-in-out;
            user-select: none;
            &:hover {
                cursor: pointer;
                .categories__image {
                    border-color: lighten($border_color, 50);
                }
            }
            &.active {
                .categories__image {
                    border-color: $color_success;
                    outline: 2px solid $color_success;
                }
            }
            &:active {
                transform: scale(.9);
            }
            .categories__image {
                display: flex;
                justify-content: center;
                width: 47px;
                height: 47px;
                border-radius: 50%;
                margin-top: 5px;
                border: 1px solid lighten($border_color, 20);
                padding: 5px;
                margin-bottom: 5px;
            }
            .categories__title {
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    font-size: 10px;
                    text-transform: capitalize;
                    color: darken($color_light, 10);
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }
    }
}

$content_padding: 20px;
section.content {
    padding-top: $header_height + $content_padding;
    padding-left: $sidebar_width + $content_padding;
}