@import "null.scss";
@import "var.scss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,500;1,700;1,900&display=swap');
* {
    font-family: Montserrat;
}

textarea::-webkit-scrollbar {
    width: 5px;
    background-color: lighten($color_grey, 30);
    // height: 100%;
}

textarea::-webkit-scrollbar-thumb {
    background-color: lighten($color_grey, 5);
    height: 10px;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: lighten($color_grey, 30);
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: lighten($color_grey, 5);
    height: 10px;
    &:hover {
        background-color: lighten($color_dark, 20);
    }
    &:active {
        background-color: lighten($color_dark, 10);
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 80%;
    }
}

$header_height: 65px;
$header_bg_color: #2b2b2b;
header {
    position: fixed;
    width: 100%;
    height: $header_height;
    background-color: $header_bg_color;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    .header {
        &__menu {
            color: lighten($header_bg_color, 20);
            font-size: 1.5rem;
            padding-left: 15px!important;
        }
        &__logo {
            .image-container {
                // background-color: red;
                height: $header_height;
            }
        }
    }
}

$sidebar_width: 55px;
section.sidebar {
    margin-top: $header_height;
    position: fixed;
    height: 100vh;
    width: $sidebar_width;
    background-color: red;
    display: flex;
    justify-content: center;
    ul {
        li {
            display: flex;
            justify-content: center;
            background-color: black;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-top: 5px;
            .image-container {
                // width: ;
                // background-color: blue;
            }
        }
    }
}

$content_padding: 20px;
section.content {
    padding-top: $header_height + $content_padding;
    padding-left: $sidebar_width + $content_padding;
}