$fontfamily: "Roboto";
$color_sidebar_bg: #243539;
$color_overflow: #f7faff;
$color_light: #F7F7F7;
$color_grey: #7C7C86;
// $color_light_grey: #C5C1C1;
$color_light_grey: #d6d6d6;
$color_danger_alt: #EC4646;
$color_danger: #f93154;
$color_success: #00b74a;
$color_success_alt: teal;
$color_warning: #F88F01;
$color_dark: #2D2F34;
$color_primary: #11698e;
$color_light_blue: #3a9dd0;
$color_info: #46CDCF;
$color_secondary: #4f537b;
// $color_disabled_actions: #c4c2c2;
$color_disabled_actions: #dbdbdb;
// new
$header_height: 65px;
$header_bg_color: #2b2b2b;
// $header_bg_color: #000;
$general_bg_color: #232323;
// $general_bg_color: #000;
$border_color: lighten($general_bg_color, 8);
$color_myata: rgb(134, 255, 219);